<div id="subjects">
  <h1><%= @subject.name%></h1>

  <% if @subject.decks %> 
    <% @subject.decks.each do |deck| %>  
      <p><%= deck.cards.all %></p>
      <div id="deck-<%= deck.id %>">
      
        <ul>
          <li><a href="/play/<%= deck.id %>"><%= deck.title %></a><br><br>
        </ul>

      </div>
    <% end %>
  <% end %>
</div>